RewriteEngine On
RewriteBase /Timeout/

# Permitir acceso directo a archivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
